@media only screen and (max-width: 1620px) {
    #buttons {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1500px) {
    #details {
        flex-direction: column;
    }
    #list1 > div > div, #list1 > div > div > img  {
        height: 100%;
        width: 100%;
    }
    #list2 > div > div, #list2 > div > div > img  {
        height: 100%;
        width: 100%;
    }
    #list3 > div > div, #list3 > div > div > img  {
        height: 100%;
        width: 100%;
    }
    #list4 > div > div, #list4 > div > div > img  {
        height: 100%;
        width: 100%;
    }

    #value {
        padding: 20px 0;
        text-align: center;
    }

    #buttons {
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1110px) {
    #list1 > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #list2 > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #list3 > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #list4 > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #p3 {
        padding-right: 30px;
    }
    #date {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .first_p, .second_p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    #details_button {
        margin-bottom: 10px;
        margin-right: 0;
    }
    #date div p {
        padding-left: 0;
    }
    #div5 {
        width: 100%;
    }
    #div5 p {
        font-size: 15px;
    }
    #separate2 {
        width:500px;
        flex-direction: column; 
    }
    #separate2 div {
        width: 200px;
        height: 10px;
        background-color: #fff;
        border-bottom: 1px solid #E1E1E1;   
    }
    #separate2 div p {
        margin-left: 20px;
        font-size: 15px;
        display: flex;
    }
    #div_sep  {
        width: 100%;
    }
    #separate2 div button {
        padding: 5px 10px;
        display: flex;
        justify-content: center;
    }
    #navbar2 ul {
        flex-direction: column;
        font-size: 15px;
    }
    #footer2_nav ul {
        flex-direction: column;
    }
    #footer2_nav {
        text-align: center;
        flex-direction: column;
    }
    #footer2 > div > h4 {
        padding-top: 5px;
        font-size: 1rem;
    }
    #footer2 > div > ul > li {
        padding-top: 0px;
    }
    #footer2_nav ul li a {
        font-size: 0.8rem; 
        padding: 0px 15px;
    }
    #footer2 div p {
        text-align: center;
        font-size: 0.7rem;
    }
    #footer2  {
        margin-top: 10px;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    #select_button {
        width: 100%;
    }

@media only  screen and (max-width: 912px)  {
    #navbar1 ul {
        display: flex;
        flex-wrap: wrap;
    }
    #navbar1 ul li {
        padding-top: 20px;
    }
    header {
        width: 80%;
    }
    header img {
        background-size: contain;
    }
    #navbar1 h3 {
        position: absolute;
        top: 16px;
        left: 20px;
        font-size: 1rem;
    }
    #separate {
        width: 80%;
        font-size: 0.7rem;
        position: relative;
        bottom: 650px;
        left: 0px;
    }
    #separate div  p {
        display: flex;
    align-items: center;
    /* justify-content: center; */
    }
    #separate div button {
        width: 80px;
    }
    #navbar1 ul li a {
        font-size: 0.6rem;
        padding-top: 30px;
    }
    .picture img {
        display: flex;
        width: 350px;
        height: 250px;
        flex-direction: column;
        padding-left: 100px;
    }
    .section1 {
        margin-left: 30px;
        padding-top: 10px;
    }
    #section3 > div {
        width:70%;
        flex-direction: column;
        /* overflow-x: hidden; */
    }
    #section3 > div > div > h3 {
        font-size: 1rem;
        text-align: center;
    }
    #section3 > div > div > p {
        font-size: 0.8rem;
    }
    #section3 img {
        width: 400px;
        height: 300px;
        text-align: center;
    }

    #section4 {
        height: 200px;
         width: 80%;
         
    }
    #section4 div {
        margin-left: 0px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        width: 70%;
        height: 150px;
        padding-top: 60px;
        position: relative;
        bottom: 0px;
    }
    #footer_nav h4 {
        position: absolute;
        font-size: 1rem;
        left: 5px;
        top: 0px;
    }
    #footer ul li {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #footer_nav ul li a {
        font-size: 0.7rem;
    }
}